﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions



@{
    var culture = Context.Features.Get<IRequestCultureFeature>
        ().RequestCulture.Culture.TwoLetterISOLanguageName;
}
    
@using Microsoft.AspNetCore.Routing.Constraints;
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />

    @*<link href="~/css/cyan.css" rel="stylesheet" type="text/css" />
        <link href="~/css/fontello.css" rel="stylesheet" type="text/css" />*@
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!-- CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/flexslider.css" rel="stylesheet" type="text/css" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,500,700italic,900,900italic' rel='stylesheet' type='text/css'>
    @*<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">*@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />



    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />

        @*<link href="~/css/cyan.css" rel="stylesheet" type="text/css" />
            <link href="~/css/fontello.css" rel="stylesheet" type="text/css" />*@
        <link rel="shortcut icon" href="~/images/favicon.ico">
        <!-- CSS -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/flexslider.css" rel="stylesheet" type="text/css" />
        <link href="~/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
        <link href="~/css/animate.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/css/owl.carousel.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet" type="text/css" />

        <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,500,700italic,900,900italic' rel='stylesheet' type='text/css'>
        @*<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">*@
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />




    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
       *@
    </environment>
</head>
<body>


    @* <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">KCell_Solutions</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    *@
    @*<div class="container body-content"> *@
    @*</div>*@

    
    <!-- PRELOADER -->
    <img id="preloader" src="~/images/preloader.gif" alt="" />
    <!-- //PRELOADER -->
      
   
    <div class="preloader_hide">
     
        <!-- PAGE -->
        <div id="page">
            <!-- HEADER -->
            <header>
                <!-- MENU BLOCK -->
                <div class="menu_block">
                    <!-- CONTAINER -->
                    <div class="container clearfix">
                        <!-- LOGO -->
                        <div class="logo pull-left">
                            <a asp-area="" asp-action="Index" asp-route-culture="@culture"><img src="~/images/kcell-logo.png" style="height:60px; padding-top: 10px" /></a>
                        </div><!-- //LOGO -->
                        <!-- SEARCH FORM -->
                        <div id="search-form" class="pull-right">
                            <form method="get" action="#">
                                <input type="text" name="Search" value="@Localizer["Search"]" onFocus="if (this.value == 'Search') this.value = '';" onBlur="if (this.value == '') this.value = 'Search';" />
                            </form>
                        </div><!-- SEARCH FORM -->
                        <!-- MENU -->
                        <div class="pull-right">
                            <nav class="navmenu center">
                                <ul>
                                    <li class="first active scroll_btn"><a asp-area="" asp-action="Index" asp-route-culture="@culture">@Localizer["Home"]</a></li>
                                    <li class="scroll_btn"><a asp-area="" asp-action="About" asp-route-culture="@culture">@Localizer["About"]</a></li>

                                    @*<li class="scroll_btn"><a href="#news">News</a></li>*@

                                    <li class="sub-menu">
                                        <a href="javascript:void(0);">@Localizer["Services"]&nbsp;<i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a asp-area="" asp-action="Software" asp-route-culture="@culture">@Localizer["Software"]</a></li>
                                            <li><a asp-area="" asp-action="Car_Tracking" asp-route-culture="@culture">@Localizer["Car_Tracking"]</a></li>
                                            <li><a asp-area="" asp-action="SMS_Dispatching" asp-route-culture="@culture">@Localizer["SMS_Dispatching"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="scroll_btn"><a asp-area="" asp-action="Career" asp-route-culture="@culture">@Localizer["Career"]</a></li>
                                    <li class="scroll_btn last"><a asp-area="" asp-action="Contacts" asp-route-culture="@culture">@Localizer["Contacts"]</a></li>
                                    <li class="sub-menu">
                                        <a href="javascript:void(0);"><i class="fa fa-globe"></i> <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a asp-area="" asp-route-culture="en">@Localizer["English"]</a></li>
                                            <li><a asp-area="" asp-route-culture="ru">@Localizer["Russian"]</a></li>
                                            <li><a asp-area="" asp-route-culture="kk">@Localizer["Kazakh"]</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- //MENU -->
                    </div><!-- //MENU BLOCK -->
                </div><!-- //CONTAINER -->
            </header><!-- //HEADER -->









            @RenderBody()
            @*
            <div id="mySidenav" class="sidenav hidden-sm hidden-xs">
                <a href="mailto:Zharas.akkulov@dslcaspian.com" id="Contact"><i class=" fa fa-envelope-open" style="font-size:25px;font-weight:500;margin-right:20px;"></i>Написать</a>
                <a href="tel:+77122763747" id="Call"><i class="fa fa-phone-square" style="font-size:30px;font-weight:500;margin-right:20px;"></i>Позвонить</a>
            </div>
                *@
            <div id="back-to-top">
                <i class="fa fa-chevron-up"></i>
                @* <i><img src="~/images/arrow-up.png"></i>*@
            </div>

            @*<a href="tel:+77122272072" class="back-to-top2">
            <i class="icon-phone icon-medium-effect icon-effect-1"></i>
        </a>*@


        </div>
        
      



        <!-- CONTACTS -->
        <section id="contacts"></section><!-- //CONTACTS -->
        <!-- FOOTER -->
        <footer>
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row" data-appear-top-offset="-200" data-animated="fadeInUp">

                    <div class="col-lg-4 col-md-4 col-sm-6 padbot30 foot_about_block">
                        <h4><b>@Localizer["Briefly_about_us"]</b></h4>
                        <p>@Localizer["Footer_text"]</p>
                        
                        
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 padbot30">
                        <h4 class="margin-left8"><b>@Localizer["Our_contacts"]</b></h4>
                        <ul class="list-unstyled footer-list fweight-300 margin-left8" style="margin-top:8px;">
                            <li class="footer-list-item" style="font-size:12px;margin-bottom:4px;color: #ffffff!important;">
                                <p style="font-weight:300;font-size:14px;color: #ffffff!important;margin-bottom:4px!important;">
                                    <i class="fa fa-briefcase"></i> &nbsp; 050040 Nahimova street, 10
                                </p>
                            </li>

                            <li class="footer-list-item" style="font-size:12px;margin-bottom:4px;"><a href="tel:+0123456789" class="footer-list-link fweight-300" style="font-size:14px;"><i class="fa fa-phone"></i> &nbsp;  +70123456789</a></li>
                            <li class="footer-list-item" style="font-size:12px;margin-bottom:4px;"><a href="" class="footer-list-link fweight-300" style="font-size:14px;"><i class="fa fa-envelope"></i>&nbsp;  example@info.com</a></li>
                            <li class="footer-list-item" style="font-size:12px;margin-bottom:4px;"><p style="font-weight:300;font-size:14px;color: #ffffff!important;margin-bottom:4px!important;padding-bottom:10px;"><i class="fa fa-share-square"></i> &nbsp;Almaty, Kazakhstan </li>
                        </ul>
                        <ul class="social margin-left8" >
                            <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-pinterest-square"></i></a></li>
                            @**<li><a href="javascript:void(0);"><i class="map_show fa fa-map-marker"></i></a></li>*@
                        </ul>

                      
                    </div>
                    <div class="respond_clear"></div>
                    <div class="col-lg-4 col-md-4 padbot30">
                        <h4><b>@Localizer["Subscribe"]</b></h4>
                        <!-- CONTACT FORM -->
                        <div class="span9 contact_form">
                            <div id="note"></div>
                            <div id="fields">
                                <form id="contact-form-face" class="clearfix" action="#">
                                    <input type="text" name="name" value="Email" onFocus="if (this.value == 'Name') this.value = '';" onBlur="if (this.value == '') this.value = 'Name';" />
                                    @*<textarea name="message" onFocus="if (this.value == 'Текст') this.value = '';" onBlur="if (this.value == '') this.value = 'Message';">Message</textarea>*@
                                    <input class="contact_btn" type="submit" value="Подписаться" />
                                </form>
                            </div>
                        </div><!-- //CONTACT FORM -->
                    </div>
                </div><!-- //ROW -->
                <div class="row copyright">
                    <div class="col-lg-12 text-center">
                        <p>@Localizer["Developed"] <i class="fa fa-heart"></i>, <a href="https://qaimaq.com">Qaimaq</a></p>
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </footer><!-- //FOOTER -->
        @*
        <!-- MAP -->
        <div id="map">
            <a class="map_hide" href="javascript:void(0);"><i class="fa fa-angle-right"></i><i class="fa fa-angle-left"></i></a>
            <iframe src="http://maps.google.com/maps?f=q&amp;give%20a%20hand=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;sll=37.0625,-95.677068&amp;sspn=42.631141,90.263672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.500141,-0.126257&amp;spn=0.026448,0.039396&amp;z=14&amp;output=embed"></iframe>
        </div><!-- //MAP -->
         *@   
    </div>
   


    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@


        <!-- SCRIPTS -->
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if IE]><html class="ie" lang="en"> <![endif]-->
        <script src="~/js/jquery.min.js" type="text/javascript"></script>
        <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/js/jquery.prettyPhoto.js" type="text/javascript"></script>
        <script src="~/js/jquery.nicescroll.min.js" type="text/javascript"></script>
        <script src="~/js/superfish.min.js" type="text/javascript"></script>
        <script src="~/js/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="~/js/owl.carousel.js" type="text/javascript"></script>
        <script src="~/js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
        <script src="~/js/animate.js" type="text/javascript"></script>
        <script src="~/js/jquery.BlackAndWhite.js"></script>
        <script src="~/js/myscript.js" type="text/javascript"></script>



        <script src="~/js/gotop.js" type="text/javascript"></script>

        @*<script src="~/js/waypoints.min.js"></script>*@
        <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="~/js/jquery.counterup.min.js"></script>

        <script>
            $('.counter-count').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                        duration: 7000,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
            });
        </script>

        <script>

            //PrettyPhoto
            jQuery(document).ready(function () {
                $("a[rel^='prettyPhoto']").prettyPhoto();
            });

            //BlackAndWhite
            $(window).load(function () {
                $('.client_img').BlackAndWhite({
                    hoverEffect: true, // default true
                    // set the path to BnWWorker.js for a superfast implementation
                    webworkerPath: false,
                    // for the images with a fluid width and height
                    responsive: true,
                    // to invert the hover effect
                    invertHoverEffect: false,
                    // this option works only on the modern browsers ( on IE lower than 9 it remains always 1)
                    intensity: 1,
                    speed: { //this property could also be just speed: value for both fadeIn and fadeOut
                        fadeIn: 300, // 200ms for fadeIn animations
                        fadeOut: 300 // 800ms for fadeOut animations
                    },
                    onImageReady: function (img) {
                        // this callback gets executed anytime an image is converted
                    }
                });
            });

        </script>

        <script>
            $(document).ready(function () {
                //FANCYBOX
                //https://github.com/fancyapps/fancyBox
                $(".fancybox").fancybox({
                    openEffect: "none",
                    closeEffect: "none"
                });
            });
        </script>

        <!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV-beQ5SMsk8Mk66Zkf1CLP4HtvJJFmsA"></script>
        <script>
            function initialize() {
                var mapOptions = {
                    zoom: 14,
                    scrollwheel: false,
                    center: new google.maps.LatLng(43.2258339, 76.9347231)
                };
                var map = new google.maps.Map(document.getElementById('googleMap'),
                    mapOptions);
                var marker = new google.maps.Marker({
                    position: map.getCenter(),
                    animation: google.maps.Animation.BOUNCE,
                    icon: '..//images/map-marker.png',
                    map: map
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>




    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="false"></script>
            *@
        <script src="~/js/site.js" type="text/javascript"></script>
        <!-- SCRIPTS -->
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if IE]><html class="ie" lang="en"> <![endif]-->
        <script src="~/js/jquery.min.js" type="text/javascript"></script>
        <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/js/jquery.prettyPhoto.js" type="text/javascript"></script>
        <script src="~/js/jquery.nicescroll.min.js" type="text/javascript"></script>
        <script src="~/js/superfish.min.js" type="text/javascript"></script>
        <script src="~/js/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="~/js/owl.carousel.js" type="text/javascript"></script>
        <script src="~/js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
        <script src="~/js/animate.js" type="text/javascript"></script>
        <script src="~/js/jquery.BlackAndWhite.js"></script>
        <script src="~/js/myscript.js" type="text/javascript"></script>



        <script src="~/js/gotop.js" type="text/javascript"></script>

        @*<script src="~/js/waypoints.min.js"></script>*@
        <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="~/js/jquery.counterup.min.js"></script>

        <script>
            $('.counter-count').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                        duration: 7000,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
            });
        </script>

        <script>

            //PrettyPhoto
            jQuery(document).ready(function () {
                $("a[rel^='prettyPhoto']").prettyPhoto();
            });

            //BlackAndWhite
            $(window).load(function () {
                $('.client_img').BlackAndWhite({
                    hoverEffect: true, // default true
                    // set the path to BnWWorker.js for a superfast implementation
                    webworkerPath: false,
                    // for the images with a fluid width and height
                    responsive: true,
                    // to invert the hover effect
                    invertHoverEffect: false,
                    // this option works only on the modern browsers ( on IE lower than 9 it remains always 1)
                    intensity: 1,
                    speed: { //this property could also be just speed: value for both fadeIn and fadeOut
                        fadeIn: 300, // 200ms for fadeIn animations
                        fadeOut: 300 // 800ms for fadeOut animations
                    },
                    onImageReady: function (img) {
                        // this callback gets executed anytime an image is converted
                    }
                });
            });

        </script>

       

        <!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV-beQ5SMsk8Mk66Zkf1CLP4HtvJJFmsA"></script>
        <script>
            function initialize() {
                var mapOptions = {
                    zoom: 14,
                    scrollwheel: false,
                    center: new google.maps.LatLng(43.2258339, 76.9347231)
                };
                var map = new google.maps.Map(document.getElementById('googleMap'),
                    mapOptions);
                var marker = new google.maps.Marker({
                    position: map.getCenter(),
                    animation: google.maps.Animation.BOUNCE,
                    icon: '..//images/map-marker.png',
                    map: map
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
