﻿
@{
    ViewData["Title"] = @Localizer["Contacts"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model KCell_Solutions.ViewModels.ProductViewModel




<section id="map2">

    <div class="map_area">
        <div id="googleMap" style="width:100%;height:300px;"></div>
    </div>
    <div class="container">
        <div class="big-title text-center">
            <h1><span class="accent-color"> Свяжитесь с нами</span><strong></strong></h1>
            <p class="title-desc">Мы являемся современной и быстро развивающейся компанией, которая всегда ищет новые возможности сотрудничества и партнерства.</p>
        </div>
        <div class="hr5" style="margin-top:30px; margin-bottom:35px;"></div>
        <div class="row">
            <div class="col-md-8">
                <form action="javascript:void(0);" enctype="multipart/form-data" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="_1DYhaDfp_cyiwAEVZ8nJnGmi-o_go2eo2XFWdiCCnKy93L_VabsQ9M1uYHSiNR8b5E9O9bVlfpHva16SWfa0w3nryw2-aUm9GZFdrIvIX81" />                    <h4 class="classic-title"><span>Свяжитесь с нами</span></h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Ваше имя<span class="required">*</span></label>
                                <span class="name-missing">Пожалуйства введите свое имя</span>
                                <input class="form-control" data-val="true" data-val-required="Please enter your name" id="FromName" name="FromName" type="text" value="" />
                                <span class="field-validation-valid" data-valmsg-for="FromName" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="e-mail">Email<span class="required">*</span></label>
                                <span class="email-missing">Пожалуйства введите свой email</span>
                                <input class="form-control" data-val="true" data-val-email="Incorrect format" data-val-required="Please enter a valid e-mail" id="FromEmail" name="FromEmail" type="text" value="" />
                                <span class="field-validation-valid" data-valmsg-for="FromEmail" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-12">
                            <div class="form-group userMessage">
                                <label for="message">Расскажите нам о себе</label>
                                <span class="message-missing">Submit your application</span>
                                <textarea name="message" onFocus="if (this.value == 'Текст') this.value = '';" onBlur="if (this.value == '') this.value = '';"></textarea>
                                <span class="field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Отправить" />
                            </div>
                        </div>
                    </div>
                </form>                <div class="g-recaptcha" data-sitekey="6LdYZycUAAAAAItvfYSHPH40D-8bOttJbGNACi_F"></div>
            </div>
            <div class="col-md-4">
                <h4 class="classic-title"><span>Наше местоположение</span></h4>
                <p>Наша команда имеет международный опыт и позволяет  предлагать заказчикам выполнение работ на всех этапах производства, начиная с ранних этапов проекта до завершающей стадии ввода в эксплуатацию и пуска. Вы можете отправить свое резюме или любые другие запросы. Мы открыты для партнерства и сотрудничества.</p>
                <div class="hr1" style="margin-bottom:10px;"></div>
                <ul class="icons-list">
                    <li><i class="icon-location-1"></i> <strong>Адрес:</strong> улица Нахимова, 10, 050040, Алматы, Казахстан</li>
                    <li><a href="mailto:info@sitekcaspian.kz"><i class="icon-mail-1"></i> <strong>Email :</strong> example@info.com</a></li>
                    <li><a href="tel:+77122272072"><i class="icon-mobile-1"></i> <strong>Телефон :</strong> +70123456789</a></li>
                </ul>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:15px;"></div>

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Часы работы</span></h4>

                <!-- Info - List -->
                <ul class="list-unstyled">
                    <li><i class="icon icon-time"></i> <strong>Понедельник - Пятница</strong> 09:00 - 18:00</li>
                    <li><i class="icon icon-time"></i> <strong>Суббота и Воскресенье </strong> выходные</li>
                </ul>
            </div>
        </div>

        <div class="hr1" style="margin-bottom:32px;"></div>
        <div class="row sidebar-page">
        </div>
    </div>


</section>
